<ion-list>
    <ion-item-sliding #slidingItem *ngFor="let item of deseos.listas | filtroCompletado: completed">
        <ion-item-options side="left">
            <button (click)="editList(item, slidingItem)" ion-button icon-only color="info">
                                      <ion-icon name="create"></ion-icon>
                                      
                                    </button>
        </ion-item-options>
        <button ion-item (click)="listaSeleccionada(item)">
                        {{ item.titulo }}
                  
                        <ion-note item-end>
                            {{item.items.length}} items
                        </ion-note>
                </button>
        <ion-item-options side="right">
            <button (click)="deleteList(item)" ion-button icon-only color="danger">
                              <ion-icon name="close"></ion-icon>
                              
                            </button>
        </ion-item-options>

    </ion-item-sliding>

</ion-list>